<ion-content [fullscreen]="true">
  <div class="header">
  <ion-title class="title">Coloque seu email </ion-title>
  <p>Para recerber um link de redefiniçao de senha</p>
   
  </div>
  <form (ngSubmit)="resetPassword()">
    <div class="ion-padding">
      <ion-item>
        <ion-input [(ngModel)]="email" name="email" placeholder="Email" class="input" type="email"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>

      <a [routerLink]="['/login']">logar</a>

     
      


    </div>
    
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button (click)="resetPassword()">
        <ion-icon name="chevron-forward">
      
        </ion-icon>
      </ion-fab-button>
      </ion-fab>
  </form>
</ion-content>
