<ion-content [fullscreen]="true">
  <div class="header">
  <ion-title class="title">Bem vindo</ion-title>
    <p class="subtitle"> Entre na sua conta</p>
  </div>
  <form [formGroup]="loginForm">
    <div class="ion-padding">
     
    

      <ion-item>
        <ion-input formControlName="email" name="email" placeholder="Email" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>

     

      <ion-item>
        <ion-input formControlName="password" name="password" placeholder="Senha" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div class="forgotpassword">
        <a [routerLink]="['/reset-password']" > Esqueceu sua senha?</a>
      </div>
      <div>
        <div class="singupLink">
          <p>Novo aqui?<a [routerLink]="['/singup']">Crie sua conta</a></p>
        </div>
      </div>

    </div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button (click)="login()">
        <ion-icon name="chevron-forward">
      
        </ion-icon>
      </ion-fab-button>

      
      </ion-fab>
    <div class="google">
      <ion-button (click)="loginWithGoogle()">
        Login com Google
      </ion-button>
    </div>
      
      
  </form>
</ion-content>
