<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Usuário
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Usuário</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-padding">
    <ion-button (click)="logout()">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
      Sair
    </ion-button>

    <!-- Botão para excluir o usuário -->
    <ion-button color="danger" (click)="deleteUser()">
      <ion-icon name="trash-bin-outline"></ion-icon>
      Excluir Conta
    </ion-button>

    <!-- Botão para editar o nome do usuário -->
    <ion-button color="primary" (click)="editUserName()" >
      <ion-icon slot="start" name="create"></ion-icon>
      Editar Nome
    </ion-button>
  </div>
</ion-content>
